/* @import url("../global/global.css"); */

body {
  background-color: #eeecec;
  padding: 0;
}

.container {
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
}

/* .links ul {
  display: flex;
  text-decoration: none;
  gap: 30px;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

header .links a {
  color: #333;
} */

/* General styles */
.links {
    /* background-color: #333; Dark background */
    padding: 15px 0;
    text-align: center;
  }
  
  /* Remove default list styles */
  .links ul {
    list-style: none;
    text-decoration: none;
    padding: 0px;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  
  /* Styling for each link */
  .links ul li {
    display: inline-block;
  }
  
  /* Anchor styling */
  .links ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 50px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
  }
  
  /* Hover effect */
  .links ul li a:hover {
    background-color: #333; /* Slightly lighter */
    color: #ffffff; /* Highlight color */
  }

.tagline {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  color: #333;
  padding: 40px 0;
}

.tagline h1 {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  font-size: 2.5rem;
}
.tagline p {
  margin-top: 15px;
  font-size: 0.7rem;
}

.tagline a {
  display: block;
  width: max-content;
  margin: 15px auto;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border-radius: 30px;
  text-decoration: none;
}

.tagline a:hover {
    background-color: #333; /* Slightly lighter */
    color: #ffffff; /* Highlight color */
    border-radius: 0px;
}

.image-grid-wrapper {
  position: relative;
  overflow-y: hidden;
  --x-offset: -50px;
  --y-offset: -50px;
}

.image-grid-wrapper::before,
.image-grid-wrapper::after {
  content: "";
  background-color: #eeecec;;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  /* background-color: red; */
}

.image-grid-wrapper::before {
  inset: var(--y-offset) var(--x-offset) 0;
}

.image-grid-wrapper::after {
  inset: 0 var(--x-offset) var(--y-offset);
  top: unset;
}

.image-grid {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}

.image-grid img {
 height: 400px; 
}

